In [147]:
import re
#Create the tax string called "residents_springfield" 
residents_springfield = '''555-1239Moe Szyslak(636) 555-0113Burns, C. Montgomery555 -6542Rev. Timothy Lovejoy555
8904Ned Flanders636-555-3226Simpson, Homer5553642Dr. Julius Hibbert'''

1. **Extract the names of each individual from the unformatted text string and store them in a vector of some sort. When
complete, your vector should contain the following entries**

In [74]:
#Extract names of each individual from the string "residents_springfield"
names = re.findall(r"[A-z.,\s]+",residents_springfield)
names

['Moe Szyslak',
 ' ',
 'Burns, C. Montgomery',
 ' ',
 'Rev. Timothy Lovejoy',
 '\n',
 'Ned Flanders',
 'Simpson, Homer',
 'Dr. Julius Hibbert']

In [148]:
#Use for loop to remove the empty elements and include the target elements into the new list 
names1 = []
for s in names:
    if re.findall(r'(\w+.).(\w+.)',s):
        names1.append(s)
        
names1

['Moe Szyslak',
 'Burns, C. Montgomery',
 'Rev. Timothy Lovejoy',
 'Ned Flanders',
 'Simpson, Homer',
 'Dr. Julius Hibbert']

1. **Find all of alphabet letters in the strings and use loop function to take out any unnecessary special characteris
or empty elements, and then add the rest of letters into a new list called "names1"**

2. **Using your new vector containing only the names of the six individuals, complete the following tasks:
a. Use your regex skills to rearrange the vector so that all elements conform to the standard “firstname
lastname”, preserving any titles (e.g., “Rev.”, “Dr.”, etc) or middle/second names.**

In [152]:
# Split 'Burns, C. Montgomery' into 'Burns' and 'C. Montgomery'
names2 = re.split(', ',names1[1])
names2
# Joint the 'Burn' and 'C. Montgomery' by reverse the sequence
full_names2 = names2[1] + ' ' + names2[0]
full_names2
# Split 'Simpson, Homer' into 'Homer' and 'Simpson'
names3 = re.split(', ',names1[4])
# Joint the 'Simpson' and 'Homer' by reverse the sequence 
full_names3 = names3[1] + ' ' + names3[0]
full_names3
# Joint all of elements by index and add 
full_namelist = [names1[0],full_names2,names1[2],names1[3],full_names3,names1[5]]

full_namelist

['Moe Szyslak',
 'C. Montgomery Burns',
 'Rev. Timothy Lovejoy',
 'Ned Flanders',
 'Homer Simpson',
 'Dr. Julius Hibbert']

2. **The way to solve this question is to find out the one has the reverse sequence on their first and last time, then
take out them to reverse the sequence to join into another new list by using index, then add all of names into one list**

2.b **Construct a logical vector indicating whether a character has a title (i.e., Rev. and Dr.)**

In [156]:
import numpy as np
# using rematch and loop to see if any elements in the list has a title greater than one letter
names5 = np.array([re.match('[A-Z][a-z]{1,}[.]',t) for t in full_namelist])
names5
# Test to see which one is match with our statements by asking true or false 
print(names5!=None)

[False False  True False False  True]

2.b **Create a numpy array to contain the loop that only finding the titles which greater than one letter.
Then test the numpy array to see which elements contain our request, thus, only "result = true" is the one we're looking for ('Rev. Timothy Lovejoy', 'Dr. Julius Hibbert')**

2.c **Construct a logical vector indicating whether a character has a middle/second name**

In [158]:
# Using rematch and loop to see if any elements in the list has a title equal to one letter 
names6 = np.array([re.match('[A-Z][.]',t) for t in full_namelist])
# Test to see which one is match with our statements by asking true or false 
names6
print(names6!=None)

[False  True False False False False]

2.c **Create a numpy array to contain the loop that only finding the titles which equal to one letter. Then test the numpy array to see which 
elements contain our request, thus, only "result = true" is the one we're looking for ( 'C. Montgomery Burns')**

3. **To do so we write the regular expression “<.+>”. Explain why this fails and correct the expression.**

In [160]:
# Create the string called "Html_string"
Html_string = '''<title>+++BREAKING NEWS+++<title>'''
Html_string

'<title>+++BREAKING NEWS+++<title>'

In [130]:
# Test the provided code to see if we can extract 'title'
test1 = re.match('<.+>', Html_string)
test1

In [161]:
# Adding ? after the qualifier makes it perform the match in non-greedy
test2 = re.match('<.+?>', Html_string)
test2

3. **Create the string called "Html_string", and then test the provided code to see where is wrong. Find out the issues
is "greedy" code, and then added ? after the qualifier to make it perform the match in non-greedy**

4. **Consider the string “(5-3)^2=5^2-2*5*3+3^2” conforms to the binomial theorem. We would like to extract the
formula in the string. To do so we write the regular expression “[^0-9=+*()]+”. Explain why this fails and correct the
expression**

In [136]:
# Create the string called 'binomial_string'
binomial_string = '''(5-3)^2=5^2-2*5*3+3^2''' 
binomial_string

'(5-3)^2=5^2-2*5*3+3^2'

In [141]:
# Test the provided code to see if we can extract 'formula'
test2 = re.findall('[^0-9=+*()]+', binomial_string)
test2

['-', '^', '^', '-', '^']

In [163]:
#Removed the ^ first, added -^ to get the formula 
test3 = re.findall('[0-9-^=+*()]+', binomial_string)
test3

['(5-3)^2=5^2-2*5*3+3^2']

4. **Create the string called "binomial_string", and then test the provided code to see where is wrong. 
Find out the issues becasue "If the first character of the set is '^', all the characters that are not in the set will be matched"
In order to fix it, firstly, remove the ^, then we found out we missing most of special characters, so added it after 0-9
to keep the special characters "-" and "^"**